band-edit.vtl

<form action="/bands/$band.getId()/edit" method="post">
  <label for="band">Enter new Bandname:</label>
  <input id="band" name="band" type="text">
  <button type="submit" class="btn btn-success" id="edit-band">Update Band</button>
</form>
<br>
<form action="/bands/$band.getId()/delete" method="post">
  <button type="submit" class="btn btn-danger" id="delete-band">Delete Band</button>
</form>
