band.vtl

<h1>$band.getName()</h1>

<h3>All played Venues:</h3>
<ul>
  #foreach ($venue in $band.getVenues())
    <li>$venue.getName()</li>
  #end
</ul>


<a href="/bands/$band.getId()/edit">Edit Band</a>
<a href="/bands/$band.getId()/delete">Delete Band</a>
