<h1>Track a Band</h1>

<form action="/bands" method="post">
  <label for="band">Enter new Band:</label>
  <input id="band" name="band" type="text">
  <button type="submit" class="btn btn-success" id="save-band">Save Band</button>
</form>
<br>
<form action="/venues" method="post">
  <label for="venue">Enter new Venue:</label>
  <input id="venue" name="venue" type="text">
  <button type="submit" class="btn btn-success" id="save-venue">Save Venue</button>
</form>

<a href="/bands">All bands</a>
