index.vtl

<h1>Track a Band</h1>

<form action="/bands" method="post">
  <label for="band">Enter new Band:</label>
  <input id="band" name="band" type="text">
  <button type="submit" class="btn btn-success" id="save-band">Save Band</button>
</form>
